body {
  background: #0a1626;
}

.gradient-teal-blue {
  background: radial-gradient(
      24% 110% at 41% 0%,
      rgba(1, 8, 73, 0.5) 0%,
      rgba(5, 0, 36, 0) 100%
    ),
    radial-gradient(
      45% 125% at 0% 96%,
      rgb(18, 63, 84) 0%,
      rgba(19, 64, 87, 0) 100%
    ),
    radial-gradient(
      19% 65% at 0% 0%,
      rgb(0, 71, 87) 0%,
      rgba(0, 36, 26, 0) 100%
    ),
    linear-gradient(90deg, rgb(13, 13, 13) 45.36%, rgba(36, 36, 36, 0) 57.45%);
}

.bdimg-connect {
  background-image: url("../images/projects/connect/connectPoster.jpg");
  background-position: 50% 0;
  view-transition-name: --project-connect;
}

.gradient-pink {
  background: radial-gradient(
    80.47% 44.15% at right center,
    #710546 0,
    rgba(113, 5, 57, 0) 100%
  );
}

.gradient-orange {
  background: radial-gradient(
    100.72% 66.36% at left center,
    #4d2814 0,
    rgba(79, 38, 23, 0.6) 26.72%,
    rgba(96, 23, 54, 0) 72.51%
  );
}

.gradient-teal {
  background: radial-gradient(
    51.3% 42.62% at right center,
    #055971 0,
    rgba(5, 89, 113, 0) 100%
  );
}

.connect-ds-constraints {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.connect-youtube-embed {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.legible-list {
  list-style-type: circle;
  margin-left: 20px;
}
