#about-intro {
  font-size: 113%;
}

#portrait {
  border-radius: 12px;
}

#about_facts_h {
  background-color: #538042;
  color: #fff;
}

#about_facts_h a {
  color: #fff;
  text-decoration: underline;
}

#about_facts_h a:hover {
  color: #fff;
  text-decoration: none;
}

#about_facts_h h2,
#about_facts_h h3,
#about_side_projects h2 {
  text-align: left;
}

.content p {
  text-align: left;
}

#brandsworkedwith {
  background-color: #d7d7d8;
  color: var(--grey);
}

.brandsgrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  place-items: center;
  gap: 25px;
}

.brandsgrid img {
  width: 100%;
  height: 100%;
}

#contact-buttons {
  margin: 1rem 0;
}

.aboutLink {
  display: inline-flex;
  color: var(--text);
  padding: 15px 35px;
  border: solid var(--text) 2px;
  border-radius: 100vh;
  scale: 1;
  text-decoration: none;
  justify-content: space-between;
  transition: 50ms ease;
}

a.aboutLink:hover {
  color: var(--text);
  text-decoration: underline;
  scale: 1.01;
}

a.aboutLink:active {
  scale: 0.99;
}

a.aboutLink:focus,
a.aboutLink:focus-visible {
  color: var(--text);
}

.aboutLink img {
  position: relative;
  margin-left: 17px;
}

#about-intro>div {
  width: 100%;

  h3,
  p {
    text-box-trim: trim-start;
  }
}

@media (max-width: 768px) {
  .multi-col {
    grid-template-columns: 1fr;
  }
}