.bdimg-ampup {
  background-image: url("../images/projects/ampup/ampup-bdimg.jpg");
  background-position: 50% 0;
  view-transition-name: --project-ampup;
}

#ampupintro {
  color: rgb(28, 11, 0);
  background-color: #f60;
}

.iPhone video {
  width: 100%;
  height: 100%;
}

.iPhone {
  display: grid;
  position: relative;
  place-content: center;
}

.iPhoneImg {
  max-height: 75svh;
  position: relative;
}

.iphone5Video {
  position: absolute;
  height: 70.91%;
  top: 14.7%;
  left: 8.51%;
  right: 7.6%;
}