.bgimg-autodesk {
  background-image: url("../images/projects/adsk/adsk-poster.png");
  background-position: 50% 0;
  view-transition-name: --project-adsk;

  @media (width <=736px) {
    background-position: 900px -300px;
    background-size: 1800px auto;
  }

}

.tagline {
  background-color: #161616;
  border-radius: 100vmax;
  color: #fff;

  .highlight {
    color: #ff0;
  }
}

#autodeskintro {
  background-color: #1d91d0;
  color: #000;

  h2 {
    margin-block: 1rem;
  }
}

@property --valint {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes --before-after {
  0% {
    --valint: var(--max);
  }

  100% {
    --valint: var(--min);
  }
}

.range-wrapper {
  aspect-ratio: 1459 / 1188;

  position: relative;
  timeline-scope: --thumb;

  animation: --before-after linear both;
  animation-timeline: --thumb;
  animation-range: entry calc((50vw - min((50vw), 480px)) - var(--pi)) entry calc((50vw + min(50vw, 480px)) + var(--pi));

  --adj: calc(var(--valint) * 1%);

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background-size: cover;
    background-color: transparent;
    z-index: -1;
  }

  &::before {
    background-image: url("../images/projects/adsk/dotcom-before.png");
    content: "" / "autodesk.com legacy site";
  }

  &::after {
    background-image: url("../images/projects/adsk/dotcom-after.png");
    content: "" / "autodesk.com refreshed site";
    mask-image: linear-gradient(to right, black, black var(--adj), transparent var(--adj), transparent);
  }
}

input[type="range"] {
  position: relative;
  width: 100%;
  aspect-ratio: inherit;
  appearance: none;
  background-color: transparent;
  container: --range / size;

  &::-webkit-slider-runnable-track {
    height: 93cqb;
    background-image: linear-gradient(to right, transparent, transparent var(--adj), white calc(var(--adj) + 1px), transparent calc(var(--adj) + 2px), transparent);
  }

  &::-moz-range-track {
    height: 93cqb;
    background-image: linear-gradient(to right, transparent, transparent var(--adj), white calc(var(--adj) + 1px), transparent calc(var(--adj) + 2px), transparent);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 80px;
    height: 40px;
    background-color: rgb(255 255 255 / 0.7);
    border: solid white 2px;
    box-shadow: 0 0 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 100vmax;
    view-timeline: --thumb inline;
    position: relative;
    transform: translateY(93cqb);
    background-image: url("data:image/svg+xml,<svg width='66' height='33' viewBox='0 0 66 33' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.9167 30.0624L2.91666 16.0624L16.9167 2.06238M48.5146 30.0624L62.5146 16.0624L48.5146 2.06238' stroke='%23333' stroke-width='4.12479' stroke-linecap='round'/></svg>");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 50%;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 80px;
    height: 40px;
    background-color: rgb(255 255 255 / 0.7);
    border: solid white 2px;
    box-shadow: 0 0 3px 5px rgb(0 0 0 / 0.4);
    border-radius: 100vmax;
    view-timeline: --thumb inline;
    position: relative;
    transform: translateY(49cqb);
    background-image: url("data:image/svg+xml,<svg width='66' height='33' viewBox='0 0 66 33' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.9167 30.0624L2.91666 16.0624L16.9167 2.06238M48.5146 30.0624L62.5146 16.0624L48.5146 2.06238' stroke='%23333' stroke-width='4.12479' stroke-linecap='round'/></svg>");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 50%;
  }

  &::-webkit-slider-runnable-track {
    background-color: transparent;
  }

}

@supports not (animation-timeline: view()) {
  .range-wrapper {
    aspect-ratio: 1459 / 2376;

    &::before,
    &::after {
      height: 50%;
    }

    &::after {
      top: 50%;
      mask-image: none;
    }
  }


  input[type="range"] {
    display: none;
  }
}