.prev-next {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  margin-top: 3.6rem;
  .prev {
    &:is(a),
    a {
      padding-inline-start: 1.2rem;
    }
    a::before {
      content: "←" / "previous article";
    }
  }
  .next {
    text-align: end;
    &:is(a),
    a {
      justify-content: end;
      padding-inline-end: 1.2rem;
    }

    a::after {
      content: "→" / "next article";
    }
  }

  a {
    display: flex;
    gap: 0.8rem;
    border: solid var(--text) 1px;
    border-radius: 4px;
    padding-block: 1.6rem;
    text-decoration: none;
    color: var(--text);
    align-items: center;
    text-box-trim: trim-both;
    font-size: 2.4rem;
    transition: font-variation-settings 0.225s ease-out;
    &:hover,
    &:focus-visible {
      color: var(--text);
      font-variation-settings: var(--ff-bold);
    }
    &::before,
    &::after {
      font-variation-settings: var(--ff-bold);
    }
  }
}
