article {
  display: grid;
  padding-inline: var(--pi);
  margin-block-start: 8rem;
  scroll-target-group: auto;

  @media (width > 736px) {
    grid-template-columns: 1fr 680px 280px 1fr;
  }

  & > * {
    grid-column: 2;
  }

  a {
    transition-property: text-decoration-color, text-decoration-thickness;
    transition-duration: 125ms;
    transition-timing-function: ease;
    text-decoration-color: inherit;
  }
  a:hover {
    text-decoration-color: var(--text);
    text-decoration-thickness: 2px;
  }

  *:focus-visible {
    outline: solid 2px;
    outline-color: white;
    outline-offset: 2px;
    border-radius: 4px;
  }

  .post-header {
    margin-block-end: 2rem;
    @media (width > 736px) {
      margin-block-end: 8rem;
    }

    h1 {
      text-transform: none;
    }
  }

  .toc {
    grid-column: 2;
    @media (width > 736px) {
      grid-column: 3;
      position: sticky;
      top: 2.4rem;
      width: 25rem;
      margin-left: auto;

      h2 {
        margin-block-start: 5.4rem;
      }
    }

    h2 {
      font-size: 1.25em;
      margin-block-start: 2rem;
    }

    a {
      display: block;
      position: relative;
      margin-top: 1.2rem;
      padding-left: calc(0.8rem * var(--depth));
      color: lch(from var(--text) 70 c h);
      transition: color 125ms ease;
      text-decoration: none;
      &:hover {
        color: var(--text);
      }

      &::before {
        content: "";
        position: absolute;
        left: -8px;
        width: 3px;
        height: 100%;
        background-color: var(--text);
        border-radius: 100vmax;
        transition: transform 225ms ease;
        transform: scaleY(0%);
        transform-origin: bottom;
        @supports (container-type: scroll-state) {
          @container scroll-state(scrolled: top) {
            transform-origin: top;
          }
        }
      }

      &:target-current {
        color: var(--text);
        &::before {
          transform: scaleY(100%);
          transform-origin: top;
          @supports (container-type: scroll-state) {
            @container scroll-state(scrolled: top) {
              transform-origin: bottom;
            }
          }
        }
      }
    }
  }

  h2,
  h3,
  h4 {
    scroll-margin-top: 4.5rem;

    &:target {
      outline-style: solid;
      outline-color: var(--links);
      outline-width: 2px;
      outline-offset: 3px;
      border-radius: 4px;
    }
  }

  h2 {
    margin-block-start: 4.5rem;
  }

  h3 {
    margin-block-start: 3rem;
  }

  p {
    margin-block: 0 1em;
  }

  code {
    font-size: 90%;
  }

  pre {
    border-radius: 4px;
    border: solid 1px;
    border-color: lch(from var(--text) 30 c h);
    background-color: lch(from var(--shiki-light-bg) l c h / 0.05);

    margin-inline: -16px;
    padding-block: 16px;

    margin-bottom: 4.8rem;

    span.line {
      padding-inline: 16px;
    }

    * {
      color: var(--shiki-dark);
      background-color: transparent;
    }
  }

  hr {
    grid-column: 2/4;
    border-color: lch(from var(--text) 40 c h);
    margin-block: 0.8rem;
  }

  .tags {
    ul {
      display: flex;
      gap: 0.8rem;
    }
  }
}
