.bdimg-classroom {
  background-image: url("../images/projects/classroom/classroom-hero.jpg");
  background-position: 50% 0;
  view-transition-name: --project-classroom;
}

#classroomintro {
  color: #fff;
  background-color: #1772ea;
}

#teacherteaching {
  height: 550px;
  color: #fff;
  background-image: url("../images/projects/classroom/teacherteaching.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#classroom-isometric {
  height: 684px;
  color: #fff;
  background-image: url("../images/projects/classroom/classroom-isometric.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.teacherfeatures li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 1rem;

  img {

    width: 60px;
  }
}