.bgimg-compass {
  background-image: url("../images/projects/compass/compass-poster.png");
  background-position: 50% 0;
  view-transition-name: --project-compass;
}

#compassintro {
  background-color: #171717;
  color: #fff;

  h2 {
    margin-block: 1rem;
  }
}