/* desktop */
@media only screen and (min-width: 737px) {
  .project-title-name h3 {
    display: none;
  }
}

/* tablets in Portrait */
@media only screen and (min-width: 735px) and (max-width: 1024px) {
  .topbar>div {
    margin: 0 20px;
  }

  section.projects li {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  #teacherteaching {
    background-position: 93%;
  }

  .workwithlogo {
    padding: 15px;
    text-align: center;
  }
}

/* iPhone 5, 6, and 6 Plus, Portrait and Landscape */
@media only screen and (max-width: 736px) {
  body {
    font-size: 115%;
    padding-bottom: 125px;
  }

  section#intro {
    min-height: 80svh;
    padding-block: 40px;
  }

  .body-img {
    background-attachment: scroll;
  }

  header {
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: var(--dark-grey);
    border-radius: 100vmax;
    border: solid 1px rgb(255 255 255 / 0.08);
  }

  .mobile-glass {
    color: white;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  .project a.white,
  .project a.grey {
    color: var(--white);
  }

  .topbar {
    grid-template-columns: auto 1fr;
    padding-inline-start: 24px;

    ul {
      gap: 2rem;
      justify-content: space-evenly;

      a {
        padding: 24px;
      }
    }
  }

  menu {
    gap: 1.5rem;
  }

  menu menuitem a {
    font-size: 1.125rem;
  }

  .topbar .header-social {
    display: none;
  }

  .project {
    padding: 0;
    grid-template-rows: auto 96px;

    .projectHero {
      width: 100%;
      height: 360px;
      border-radius: 12px;
      overflow: clip;
      grid-row: 1 / -1;

      img {
        object-fit: cover;
      }
    }

    &#project-compass .projectHero img {
      object-position: 100% -40px;
    }

    &#project-connect .projectHero img {
      object-position: 72% -20px;
    }

    &#project-flame .projectHero img {
      object-position: 63% 100%;
    }

    &#project-aop .projectHero img {
      object-position: 50% 100%;
    }

    &#project-classroom .projectHero img {
      object-position: 92% -40px;
    }

    &#project-englishlive .projectHero img {
      object-position: 92% -40px;
    }

    &#project-ampup .projectHero img {
      object-position: 92% -40px;
    }

    .projectDescription {
      grid-row: 2 / 3;

      background-color: rgba(0 0 0 / 0.65);
      backdrop-filter: blur(4px);

      padding: 8px 12px;

      display: flex;
      align-items: center;
      gap: 12px;

      .projectTitle {
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 8px;
      }

      .project-title-name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3,
        p {
          margin: 0;
        }
      }

      &.ondark,
      &.onlight {
        color: white;
      }
    }
  }

  section.projects li {
    width: calc(100% - 32px);
    height: auto;
    margin: 0 auto;
  }

  .projectHero img {
    position: relative;
  }

  #project-4 .projectTitle {
    width: auto;
  }

  .projects li img.overlay {
    opacity: 1;
  }

  h3.about {
    text-align: left;
  }

  #about_side_projects .row .col-sm-6 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #teacherteaching {
    background-position: 93%;
  }

  .workwithlogo {
    padding: 15px;
    text-align: center;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 690px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .topbar {
    height: 84px;
    flex-direction: row;
  }

  p.greeting {
    padding: 16px;
  }

  .topbar>div {
    width: 50%;
  }

  .header-1 .logo {
    height: 60px;
    text-align: left;
    padding-left: 20px;
  }

  menu,
  menu item {
    height: 84px;
  }

  menu item a {
    line-height: 84px;
  }
}

/* for itty bitty things, like iPhone 4 sized things */
@media only screen and (max-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  section#intro {
    padding-top: 5%;
  }
}