.bdimg-flame {
  background-image: url("../images/projects/flame/flamePoster.jpg");
  background-position: 50% 0;
  view-transition-name: --project-flame;
}

#flameintro {
  background-color: #e81c1c;
  color: #fff;
}
