@font-face {
  font-family: "proxima-nova-regular";
  src: url("../fonts/prxnv-reg.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova-bold";
  src: url("../fonts/prxnv-bld.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova-light";
  src: url("../fonts/prxnv-lt.woff2") format("woff2");
  font-display: swap;
}

@view-transition {
  navigation: auto;
}

:root {
  --dark-grey: #09090c;
  --grey: #161619;
  --white: #fff;

  --links: hsl(208, 72%, 68%);
  --text: var(--white);
  --bg: var(--grey);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  line-height: 1.5;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

body {
  color: var(--text);
  font-family: "proxima-nova-regular", "Helvetica", sans-serif;
  line-height: 1.5;
  background-color: var(--bg);
  background-image: linear-gradient(180deg,
      hsl(240deg 14% 4%) 0%,
      hsl(240deg 17% 5%) 44%,
      hsl(240deg 11% 5%) 64%,
      hsl(240deg 13% 6%) 76%,
      hsl(240deg 9% 6%) 84%,
      hsl(240deg 9% 7%) 89%,
      hsl(240deg 11% 7%) 93%,
      hsl(240deg 7% 8%) 95%,
      hsl(240deg 9% 9%) 97%,
      hsl(240deg 6% 9%) 100%);
}

a,
a:hover {
  color: var(--links);
}

.am-bold {
  font-family: proxima-nova-bold, sans-serif;
}

.body-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
}

header {
  margin-top: 80px;
  width: 100%;
}

header a {
  color: #fff;
}

header a:hover,
header a:focus {
  transition: font-weight 200ms ease;
  color: #fff;
  font-family: "proxima-nova-regular", Roboto, sans-serif;
  font-weight: bold;
  text-decoration: none;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: white;
}

.glass {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.multi-col {
  display: grid;
  grid-template-columns: var(--gtc, 1fr);
  gap: var(--gap, 1em);
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

}

footer .socialicons a {
  color: var(--white);
}

.socialicons a:hover,
.socialicons a:focus {
  transition: color 200ms ease;
  color: #93939e;
  font-family: "proxima-nova-regular", Roboto, sans-serif;
  text-decoration: none;
}

.logo {
  margin-block: auto;
}

.topbar {
  max-width: 960px;
  height: 80px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #fff;
}

h1,
h2 {
  margin-block-start: 8px;
  padding: 0;
  line-height: 1.5;
  text-wrap: pretty;
}

header h1,
header h2 {
  text-transform: uppercase;
  line-height: 1;
}

.row h1 {
  font-family: "proxima-nova-bold", Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 1.12px;
  margin-bottom: 4px;
}

.header-logo h1,
.header-logo h2 {
  display: inline-block;
}

nav {
  .header-logo h1 span {
    font-family: "proxima-nova-light", Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 7.42px;
    color: #fff;
  }

  ul {
    padding: 0;
    font-family: "proxima-nova-light", Roboto, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.5rem;
  }

  a {
    text-decoration: none;
  }
}

.header-social {
  align-content: center;
}

ul.socialicons {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  gap: 16px;

  li {
    width: auto;
    align-content: center;
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.icon,
.icon::after {
  background: var(--white);
  transition-property: background-color, background-image, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.icon-github {
  mask-image: url("../images/social/github.svg");

  &:hover {
    background-color: #93939e;
  }
}

.icon-bluesky {
  mask-image: url("../images/social/bluesky.svg");

  &:hover {
    background-color: #0085ff;
  }
}

.icon-instagram {
  position: relative;
  mask-image: url("../images/social/instagram.svg");
  background-image: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);

  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:hover::after {
    opacity: 0;
  }
}

.icon-email {
  mask-image: url("../images/social/envelope.svg");

  &:hover {
    background-color: #94b1f5;
  }
}

section,
footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  text-align: center;
}

footer .socialicons {
  justify-content: center;
}

footer #hand {
  display: inline-block;
  transform-origin: 30% 60%;
  transform: scale(1);
  transition: transform 200ms ease;
}

footer #hand:hover {
  animation: handwave 2s infinite;
  transform-origin: 50% 60%;
}

footer #heart {
  display: inline-block;
  transition: transform 150ms ease;
  transform: rotate(0deg);
}

footer #heart:hover {
  transform: rotate(-90deg);
  color: #e273d9;
}

.padding-tb {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 12%;
  padding-bottom: 12%;
}

.padding-xs {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tagline {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: var(--grey);
  background-color: var(--white);
  text-align: center;
  padding: 25px;
  position: relative;
}

#intro h2 {
  font-size: 300%;
  font-weight: 400;
}

.content {
  width: 100%;
}

.content section h4 {
  width: 100%;
  font-size: 150%;
  text-align: center;
  font-family: "proxima-nova-light", Roboto, sans-serif;
}

.content section {
  padding-block: 20px;
  padding-inline: max(0px, min(16px, calc((976px - 100vw) * 9999)));
}

.content i {
  font-style: italic;
}

.content section p {
  font-family: "proxima-nova-regular", Roboto, sans-serif;

  margin-inline: auto;
}

figure div:has(iframe) {
  width: 100%;
}

figure button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

figure * {
  margin: 0 auto;
}

figure {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

figcaption {
  margin-top: 12px;
}

.contribution section {
  text-align: left;
  max-width: 800px;
}

section#intro {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  line-height: inherit;
  justify-content: center;
  color: var(--white);
}

p.greeting {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0;
  font-family: "proxima-nova-bold", Roboto, sans-serif;
  font-size: 3.75rem;
  font-size: clamp(3.75rem, 3.1rem + 3.25vw, 7rem);
  font-weight: 700;
  line-height: 110%;
}

p.greeting span {
  font-size: 24px;
  line-height: 90%;
  font-family: "proxima-nova-regular", Roboto, sans-serif;
}

div#intro {
  height: calc(100dvh - 10rem);
  place-content: center;
}

section.projects ul {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-around;
}

section.projects li {
  max-width: 960px;
  width: 100%;
  height: 470px;
  overflow: clip;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.09);
  transition: scale 250ms ease;
}

.projects a:has(.project),
.projects a:hover:has(.project),
.projects a:focus-visible:has(.project) {
  text-decoration: none;
}

section.projects li:hover,
section.projects li:focus-visible {
  scale: 1.01;
}

section.projects li:active {
  scale: 0.99;
}

section.projects li:has(a:focus-visible) {
  outline-color: rgb(255 255 255 / 0.85);
  outline-offset: 3px;
  outline-style: solid;
}

.project {
  height: 100%;
  display: grid;
  place-content: center;
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  .projectHero,
  .projectDescription {
    grid-area: 1 / -1;
  }
}

.projectniceties p {
  margin-top: 10px;
}

.viewProject {
  font-family: "proxima-nova-light", Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  bottom: 42px;
  position: absolute;
}

.project a.white {
  color: var(--white);
}

.project a.grey {
  color: var(--grey);
}

#project-englishlive .projectHero {
  background: linear-gradient(0deg, #ededed, #e9e9eb);
}

.projectTitle img {
  max-width: 300px;
}

.rightChevron {
  margin-left: 17px;
  margin-top: -4px;
  -webkit-transition: margin 250ms ease;
  -moz-transition: margin 250ms ease;
  -o-transition: margin 250ms ease;
  transition: margin 250ms ease;
}

.projectHero {
  width: 100%;
  height: 470px;
}

@keyframes greyscale {
  0% {
    filter: grayscale(100%) saturate(100%);
  }

  85% {
    filter: grayscale(0%) saturate(120%);
  }

  100% {
    filter: grayscale(0%) saturate(100%);
  }
}

.projectHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 400px;
  transition: scale 750ms, filter 750ms;
  transform-origin: 70% 60%;

  animation: linear greyscale both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% entry 120%;
}

.project:hover .projectHero img {
  scale: 1.05;
}



.projectDescription {
  padding: 36px 50px;
  transition: scale;
  scale: 1;

  p {
    margin: 12px 0 0 0;
  }

  &.ondark {
    color: white;
  }

  &.onlight {
    color: var(--dark-grey);
  }
}

.project:hover .projectDescription {
  scale: 1;
}

.downchevron {
  color: var(--grey);
  width: 150px;
  margin: 0 auto;
  position: relative;
  top: -100px;
  margin-bottom: -26px;
  cursor: pointer;
  text-align: center;
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-size: 16px;
}

.downchevron img {
  margin-top: 7px;
}

div.homegreeting {
  margin-top: -10%;
}

p.role {
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1.6px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes handwave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

html:has(dialog[open]) {
  overflow: clip;
  scrollbar-gutter: stable;
}

/* user agent styles as important */
[popover]:not(:popover-open):not(dialog[open]) {
  display: none !important;
}

::view-transition-group(--light-box),
::view-transition-group(--light-box-backdrop) {
  z-index: 1;
}

dialog#lightbox {
  opacity: 0;

  transition: opacity, display, overlay;
  transition-behavior: allow-discrete;
  transition-duration: 0.3s;

  &[open] {
    opacity: 1;
    display: block;

    @starting-style {
      opacity: 0;
    }
  }

  border: none;
  margin: auto;
  padding: 0;
  background: transparent;
  max-inline-size: 100dvw;

  &::backdrop {
    backdrop-filter: none;
    background-image: radial-gradient(#0003, 25%, #000e);
    view-transition-name: --light-box-backdrop;
    transition: opacity, overlay;
    transition-behavior: allow-discrete;
    transition-duration: 0.3s;
  }

  /* lightbox img sizing */
  >img {
    block-size: auto;
    max-inline-size: 100dvw;
    max-block-size: 90dvh;
    object-fit: contain;
  }
}