---
import Base from "../layouts/Base.astro";
import "../styles/compass.css";
import "../styles/images-grid.css";

const title = "Compass Design System - Alexis Morin";
---

<Base title={title}>
  <div id="intro">
    <h2 class="tagline mobile-glass">Compass Design System</h2>
    <div class="body-img bgimg-compass"></div>
  </div>

  <div class="content" id="compassintro">
    <section>
      <h2>The design system of real estate<br /></h2>
    </section>
  </div>

  <div class="content">
    <section>
      <h3>
        My contribution for components &amp; patterns across Web, iOS &amp;
        Android
      </h3>
      <ul style="list-style-type: circle; margin-left: 20px">
        <li>
          design, plan, build, release, announce, test, map dependencies, and
          best practices,
        </li>
        <li>standardize team methodology across designers,</li>
        <li>
          write content for, publish, and evangelize a Design System
          Documentation website,
        </li>
        <li>
          conduct user research sessions with Design System consumers to learn
          about areas of opportunity,
        </li>
        <li>
          onboard designers, engineers, and Product Managers to the Compass
          Design System,
        </li>
        <li>
          mentor mobile designers on best practices during high-stakes Mobility
          Reviews with leadership.
        </li>
      </ul>
      <p>To date, the Compass Design System contains:</p>
      <ul style="list-style-type: circle; margin-left: 20px">
        <li>
          a Figma library of shared components, icons, UX patterns, and styles,
        </li>
        <li>&gt; 57 components written in React and CSS,</li>
        <li>
          a 188-page website of documenting all components, best practices, code
          samples, and APIs for all tokens, atoms, components and patterns
        </li>
        <li>
          product content guidelines for writing for the Compass platform,
        </li>
      </ul>
      <p>
        At the time of writing, the Compass Design System is in active use at
        Compass by <strong>all</strong> web front-end, iOS, and Android teams. It
        enables <strong>600 engineers</strong>,
        <strong>85 designers</strong>, and <strong>$254M</strong> of real estate
        transactions yearly.
      </p>
      <p>
        <span class="am-bold">Company:</span> Compass Real Estate
        <br />
        <span class="am-bold">Team:</span> Corey&nbsp;Greeneltch, Jane&nbsp;Park,
        Hiram&nbsp;Moncivais, Lucas&nbsp;Reis, Keri&nbsp;Martin, Trevor&nbsp;Burnham,
        Michael&nbsp;Haggerty-Villa, Kingsley&nbsp;Ehiogu, Kayoung&nbsp;Lee, Bill&nbsp;Heberer,
        Zachary&nbsp;Plata
        <br />
        <span class="am-bold">Role:</span> Staff Product Designer &amp; Front-End
        Developer
        <br />
        <span class="am-bold">Timeline:</span> 2021-2022
        <br />
        <span class="am-bold">Status:</span> in active use
      </p>
      <p>
        Here are two examples of my contributions: bulk actions and the listing
        card:
      </p>
    </section>
    <section>
      <h2>Bulk actions pattern</h2>
      <p>
        Real estate agents work fast and deal with large amounts of data yet the
        Compass platform had no single way of enabling agents to perform bulk
        actions on that data.
      </p>
      <p>
        I designed the Bulk actions pattern for web, mobile web, iOS and Android
        with the additional goal of sticking close to native platform look &amp;
        feel.
      </p>
      <div class="images--grid" style="--max-columns: 1">
        <article>
          <h3>Desktop Web</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/bulk-actions-web.gif"
                  alt="Bulk actions for the desktop web. A table shows data about real estate listings. The first listing is selected and a bulk actions bar lists actions which can be taken."
                />
              </picture>
            </button>
            <figcaption>Bulk actions for the desktop web</figcaption>
          </figure>
        </article>
      </div>
      <div class="images--grid" style="--max-columns: 3">
        <article>
          <h3>Mobile Web</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/bulk-actions-mobile-web.png"
                  alt="Bulk actions for mobile web"
                />
              </picture>
            </button>
            <figcaption>Bulk actions for mobile web</figcaption>
          </figure>
        </article>
        <article>
          <h3>iOS</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/bulk-actions-ios.gif"
                  alt="Bulk actions for iOS"
                />
              </picture>
            </button>
            <figcaption>iOS consumer listing card</figcaption>
          </figure>
        </article>
        <article>
          <h3>Android</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/bulk-actions-android.gif"
                  alt="Bulk actions for Android"
                />
              </picture>
            </button>
            <figcaption>Bulk actions for Android</figcaption>
          </figure>
        </article>
      </div>
      <h3>Bulk actions lifecycle</h3>
      <p>
        Performing actions in bulk is inherently a multi-step process. To better
        support this notion for our community of builders, I documented the
        steps that take place when Bulk Actions occur.
      </p>
      <dl class="images--grid" style="--max-columns: 5">
        <div class="text-step">
          <dt>1. Select mode</dt>
          <dd>
            Optional<br />Not all pages offer item selection at the top-level.
            It may be necessary to toggle that mode on with a CTA.
          </dd>
        </div>
        <div class="text-step">
          <dt>2. Selection</dt>
          <dd>Select what should be acted on.</dd>
          <dt>2.1 BulkActions appears</dt>
          <dd>
            When working with a Table, BulkActions animates up from the top of
            the Table when an item is selected. In non-Table scenarios, animate
            BulkActions from the point where Select mode is initiated.
          </dd>
          <dt>2.2 Bulk selection</dt>
          <dd>
            Optional<br />
            If it makes sense, offer "Select all". If so, make use of the "Select
            All Bar" component. Select the items on a page before offering to select
            all items in a data set.
          </dd>
          <dt>2.3 Apply constraints</dt>
          <dd>
            BulkActionBar reacts to only allow logically possible actions.
            <br /><br />
            A Poptip may show to clarify why an action is disabled.
          </dd>
        </div>
        <div class="text-step">
          <dt>3. Action</dt>
          <dd>
            BulkActions Buttons are an ingress to custom designed user-flows.
            Clicking an Button may result in the action being performed
            instantly, or in a modal dialog asking for more information or
            confimation.
          </dd>
        </div>
        <div class="text-step">
          <dt>4. Notification</dt>
          <dd>
            Notify about the result of their action. This can be done with a
            Toast. Bonus points if you offer the possibility an Undo button in
            the confirmation Toast. Inform the user if an action takes longer
            than 1 second to perform.
          </dd>
        </div>
        <div class="text-step">
          <dt>5. Resolution</dt>
          <dd>
            Once an action has been performed, return to the data list with the
            same items selected, unless the action triggered is one which
            changes the acted-upon items. (e.g. merge, delete, archive)
          </dd>
        </div>
      </dl>
    </section>
    <section>
      <h2>The listing cards</h2>
      <p>
        The property listing card is the centerpiece of any real estate
        platform.
      </p>
      <p>
        I was tasked with the Figma construction of the Listing Card for real
        estate agents and home buyers across Web, iOS &amp; Android.
      </p>
      <h3>Consumer listing card</h3>
      <div class="images--grid">
        <article>
          <h3>Web</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/web-listing-card.png"
                  alt="Real estate listing card for the web. It shows an image gallery of the listing, status badges, price, dislike and star buttons, stats, buttons for request a tour and comment."
                />
              </picture>
            </button>
            <figcaption>Web consumer listing card</figcaption>
          </figure>
        </article>
        <article>
          <h3>iOS</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/ios-listing-card.png"
                  alt="Real estate listing card for iOS. It shows an image gallery of the listing, status badges, price, dislike and star buttons, stats, buttons for request a tour and comment."
                />
              </picture>
            </button>
            <figcaption>iOS consumer listing card</figcaption>
          </figure>
        </article>
        <article>
          <h3>Android</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/android-listing-card.png"
                  alt="Real estate listing card for Android. It shows an image gallery of the listing, status badges, price, dislike and star buttons, stats, buttons for request a tour and comment."
                />
              </picture>
            </button>
            <figcaption>Android consumer listing card</figcaption>
          </figure>
        </article>
      </div>
    </section>
    <section>
      <h2>The agent listing card</h2>
      <p>
        As expert users, real estate agents are used to data density. These web
        listing cards are designed to accomodate more information in less space.
      </p>
      <div class="images--grid" style="--max-columns: 2">
        <article>
          <h3>Card</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/agent-listing-card.png"
                  alt=""
                />
              </picture>
            </button>
            <figcaption>
              <p>The <strong>Card</strong> appears in data-dense grids.</p>
            </figcaption>
          </figure>
        </article>
        <article>
          <h3>Pill</h3>
          <figure>
            <button light-box title="View larger">
              <picture>
                <img
                  src="/images/projects/compass/agent-listing-card-pill.png"
                  alt=""
                />
              </picture>
            </button>
            <figcaption>
              <p>
                The <strong>Pill</strong> appears in data-dense lists alongside maps.
              </p>
            </figcaption>
          </figure>
        </article>
      </div>
    </section>
  </div>
</Base>
