---
import Base from "../layouts/Base.astro";
import "../styles/dgud.css";
const title = "EF DGUD - Alexis Morin";
---

<Base title={title}>
  <div class="body-img bdimg-classroom"></div>

  <div id="intro"></div>

  <div class="content" id="dgudintro">
    <section>
      <h2>EF DGUD</h2>
      <p>
        An acronym for "Digital Grand Unified Design", DGUD is a Design System
        powering Education First's online identity for its English Live Product
        offering: Web, Classroom, iPad, iOS Mobile &amp; Android.
      </p>
    </section>
  </div>

  <div class="content">
    <section>
      <h3>DGUD Manifesto</h3>
      <p>
        The dGUD style guide is meant to help designers build great interfaces
        reducing the time spent on exploration or conceptualization of a visual
        identity. While we understand certain areas of the school deserve more
        prominence and visual/functional identity, we believe it's in good
        effort to offer other designers across the company a set of assets and
        components that have been carefully crafted, with rigorous emphasis on
        simplicity, hierarchy, typography, spacing and color.
      </p>
    </section>
  </div>

  <div class="content">
    <section>
      <p>
        <img
          src="/images/projects/dgud/awards.jpg"
          title="dGUD on 3 platforms"
        />
      </p>
      <h3 style="font-weight: 300">Structure</h3>
      <p>
        To better suit a mobile form factor and the context of our students, our
        team devised ways to break down existing web content into smaller,
        bite-sized morcels of learning.
      </p>
      <img
        src="/images/projects/englishlive/structure-1.jpg"
        width="100%"
        alt="app screens for Login, Course Overview, Lesson Overview"
      />
      <img
        src="/images/projects/englishlive/structure-2.jpg"
        width="100%"
        alt="app screens for Module Introduction, Video Vocabulary"
      />
      <img
        src="/images/projects/englishlive/structure-3.jpg"
        width="100%"
        alt="app screens for Video Vocabulary, Vocuabulary review"
      />
      <img
        src="/images/projects/englishlive/structure-4.jpg"
        width="100%"
        alt="app screens for Reading activity, Audio multiple choice"
      />
      <img
        src="/images/projects/englishlive/structure-5.jpg"
        width="100%"
        alt="app screens for Multiple choice, Step complete, Lesson complete"
      />
    </section>
  </div>

  <div class="content contribution">
    <section>
      <p>
        The goal of this project was to leverage the existing English Live
        platform on desktop Web and rethink the design and interaction patterns
        of the e-learning templates in a way better suited to mobile platforms.
      </p>
      <p>
        <strong>My involvement</strong> was to rethink these interactions and create
        wireframes and interactive prototypes for more than 10 activity templates.
        Expanding beyond the original scope of the project, I also designed some
        activity templates unique to mobile.
      </p>
      <p>
        <span class="am-bold">Team:</span> User Experience &amp; Design @ EF Education
        First (Shanghai, China)<br />
        <span class="am-bold">Role:</span> User Experience Designer
      </p>
      <p>
        EF English Live is available on Google Play and the Apple App Store.
      </p>
      <p>
        <a
          href="https://play.google.com/store/apps/details?id=com.ef.core.engage.englishtown"
          target="_blank"
          rel="noreferrer"
          style="display: inline-block;"
        >
          <img src="/images/googlePlay.svg" height="50" />
        </a>
        &nbsp;&nbsp;&nbsp;
        <a
          href="https://itunes.apple.com/ca/app/ef-english-live-for-iphone/id961304373?mt=8"
          target="_blank"
          rel="noreferrer"
          style="display: inline-block;"
        >
          <img src="/images/appStore.svg" height="50" />
        </a>
      </p>
    </section>
  </div>
</Base>
