---

---

<footer>
  <p>&copy; Alexis Morin 2025</p>
  <ul class="socialicons" role="list">
    <li>
      <a href="https://bsky.app/alexismo" target="_blank" rel="noopener">
        <span class="icon icon-bluesky"></span>
        <span class="visually-hidden"
          >alexismo on Blue Sky (opens in a new tab)</span
        >
      </a>
    </li>
    <li>
      <a href="https://github.com/alexismo" target="_blank" rel="noopener">
        <span class="icon icon-github"></span>
        <span class="visually-hidden"
          >alexismo on GitHub (opens in a new tab)</span
        >
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/thealexismorin/"
        target="_blank"
        rel="noopener"
      >
        <span class="icon icon-instagram"></span>
        <span class="visually-hidden"
          >thealexismorin on Instagram (opens in a new tab)</span
        >
      </a>
    </li>
    <li>
      <a href="mailto:the.alexis.morin@gmail.com">
        <span class="icon icon-email"></span>
        <span class="visually-hidden">Email Alexis Morin</span>
      </a>
    </li>
  </ul>

  <p>
    This site was coded by&nbsp;&nbsp;<span
      id="hand"
      aria-label="hand"
      role="img">✋</span
    >
    with lots of <span id="heart" aria-label="love" role="img">&lt;3</span>.
  </p>
</footer>
