---

---

<header class="glass">
  <nav class="row topbar">
    <div class="header-logo">
      <a href="/">
        <h1>
          Alexis Morin
          <br />
          <span>Designer</span>
        </h1>
      </a>
    </div>
    <div class="header-menu">
      <ul role="list">
        <li>
          <a href="/#work"> Work </a>
        </li>
        <li>
          <a href="/about"> About </a>
        </li>
      </ul>
    </div>
    <div class="header-social">
      <ul class="socialicons" role="list">
        <li>
          <a href="https://bsky.app/alexismo" target="_blank" rel="noopener">
            <span class="icon icon-bluesky"></span>
            <span class="visually-hidden"
              >alexismo on Blue Sky (opens in a new tab)</span
            >
          </a>
        </li>
        <li>
          <a href="https://github.com/alexismo" target="_blank" rel="noopener">
            <span class="icon icon-github"></span>
            <span class="visually-hidden"
              >alexismo on GitHub (opens in a new tab)</span
            >
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/thealexismorin/"
            target="_blank"
            rel="noopener"
          >
            <span class="icon icon-instagram"></span>
            <span class="visually-hidden"
              >thealexismorin on Instagram (opens in a new tab)</span
            >
          </a>
        </li>
        <li>
          <a href="mailto:the.alexis.morin@gmail.com">
            <span class="icon icon-email"></span>
            <span class="visually-hidden">Email Alexis Morin</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
